<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--
     Gestion de l'upload de l'attribut image : Création d'un virtual type + injection dans le controller admin
    -->
    <virtualType name="Hhennes\CatalogCategoryAttributes\SampleImageAttributeUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category</argument>
            <argument name="basePath" xsi:type="string">catalog/category</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hhennes\CatalogCategoryAttributes\Controller\Adminhtml\Category\Attributes\UploadImage">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Hhennes\CatalogCategoryAttributes\SampleImageAttributeUploader</argument>
        </arguments>
    </type>
</config>
