<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add all commands in this node -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="hhennes_sample_command" xsi:type="object">Hhennes\CliCommands\Console\Command\SampleCommand</item>
                <item name="hhennes_sample_command_name_di" xsi:type="object">Hhennes\CliCommands\Console\Command\SampleDiNameCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Configure the name of the command trough di -->
    <type name="Hhennes\CliCommands\Console\Command\SampleDiNameCommand">
        <arguments>
            <argument name="name" xsi:type="string">hhennes:cli:di-samplecommand</argument>
        </arguments>
    </type>
</config>
