<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hhennes_salesadminpdfviewer>
            <settings>
                <enable_pdf_display>1</enable_pdf_display>
            </settings>
        </hhennes_salesadminpdfviewer>
    </default>
</config>
