<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <hhennes_basic>
                <active>0</active>
                <title>Basic Carrier</title>
                <name>Basic Carrier with fixed price</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Hhennes\SampleCarrier\Model\Carrier\Basic</model>
            </hhennes_basic>
        </carriers>
    </default>
</config>
