<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <!-- Replace here with real url -->
                    <report_uri>http://php74.local/magento/24/customcsp/report/index</report_uri>
                </storefront>
                <admin>
                    <!-- Replace here with real url -->
                    <report_uri>http://php74.local/magento/24/customcsp/report/index</report_uri>
                </admin>
            </mode>
        </csp>
    </default>
</config>
