<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <lunchvoucher>
                <active>1</active>
                <model>Hhennes\SamplePayment\Model\Payment\LunchVoucher</model>
                <order_status>pending</order_status>
                <title>Lunch Voucher</title>
                <allowspecific>0</allowspecific>
                <payment_action>true</payment_action>
                <group>samplepayment</group>
            </lunchvoucher>
        </payment>
    </default>
</config>
