<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hhennes_orderattributes" frontName="hhennes_orderattributes">
            <module name="Hhennes_OrderAttributes" />
        </route>
    </router>
</config>
